{% raw %}
<%page expression_filter="h"/>
<%!
    import json
    from django.utils.translation import ugettext as _
    from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
    from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>

<%block name="js_extra">
    <%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
        var options = ${data | n, dump_js_escaped_json};
        LogistrationFactory(options);
        if ('newrelic' in window) {
            newrelic.finished();
            // Because of a New Relic bug, the finished() event doesn't show up
            // in Insights, so we have to make a new PageAction that is basically
            // the same thing. We still want newrelic.finished() for session
            // traces though.
            newrelic.addPageAction('xfinished');
        }
    </%static:require_module>
    % if configuration_helpers.get_value('DISPLAY_TOS_IN_MODAL_ON_REGISTRATION_PAGE', False):
    <script type="text/javascript" src="${static.url('js/student_account/tos_modal.js')}"></script>
    % endif
</%block>

<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
        </script>
    % endfor
</%block>
<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="content-container" class="login-register-content">
            % if enable_enterprise_sidebar:
                <%include file="enterprise_sidebar.html" />
                <%
                    border_class = 'border-left'
                %>
            % else:
                <%
                    border_class = ''
                %>
            % endif
            <script type="text/javascript">
		function checkUsername() {
		  const value = input.value.trim();
		  const notice = document.getElementById("username-notice");
		  if (value.indexOf(" ") !== -1) {
		    if (!notice) {
		      const newNotice = document.createElement("div");
		      newNotice.id = "username-notice";
		      newNotice.style.color = "red";
		      newNotice.textContent = "Benutzernamen dürfen kein Leerzeichen enthalten.";
		      input.parentNode.insertBefore(newNotice, input.nextSibling);
		    }
		  } else {
		    if (notice) {
		      input.parentNode.removeChild(notice);
		    }
		  }
		}
                var domains = [
                                "aachener-bank.de",
                                "email.rwg.de",
                                "allgaeuer-volksbank.de",
                                "vr-web.de",
                                "bag-bank.de",
                                "bank1saar.de",
                                "bkc-paderborn.de",
                                "kd-bank.de",
                                "sozialbank.de",
                                "bibessen.de",
                                "rbk-rsa.de",
                                "bodenseebank.de",
                                "bbbank.de",
                                "bensberger-bank.de",
                                "berliner-volksbank.de",
                                "bernhauser-bank.de",
                                "bopfinger-bank.de",
                                "brandenburgerbank.de",
                                "bremischevb.de",
                                "bruehlerbank.de",
                                "budenheimervb.de",
                                "dettinger-bank.de",
                                "apobank.de",
                                "dvrb.de",
                                "dkm.de",
                                "donau-iller-bank.de",
                                "dovoba.de",
                                "echterdinger-bank.de",
                                "eckernfoeder-bank.de",
                                "evb-meppen.de",
                                "erfurter-bank.de",
                                "eb.de",
                                "evenord-bank.de",
                                "frankenberger-bank.de",
                                "frankfurter-volksbank.de",
                                "genobank.de",
                                "genobank-mainz.de",
                                "genobamuc.de",
                                "genosbank.de",
                                "genoba-weil.de",
                                "gladbacher-bank.de",
                                "gls.de",
                                "grafschafter-voba-nev.de",
                                "hagnauer-volksbank.de",
                                "hamvoba.de",
                                "hannoversche-volksbank.de",
                                "ostharzer-volksbank.de",
                                "hausbank.de",
                                "heidenheimer-voba.de",
                                "huemmlinger-volksbank.de",
                                "huettenberger-bank.de",
                                "kieler-volksbank.de",
                                "kurhessische-landbank.de",
                                "landbank-horlofftal.de",
                                "leipziger-volksbank.de",
                                "levo-bank.de",
                                "ligabank.de",
                                "mvb.de",
                                "maerkische-bank.de",
                                "vb-rb.de",
                                "mendener-bank.de",
                                "nordthueringer-volksbank.",
                                "onstmettinger-bank.de",
                                "pax-bank.de",
                                "pommerschevb.de",
                                "psd-bb.de",
                                "psd-braunschweig.de",
                                "psd-hannover.de",
                                "psdbank-ht.de",
                                "psd-kn.de",
                                "psd-kiel.de",
                                "psd-koblenz.de",
                                "psd-muenchen.de",
                                "psd-nord.de",
                                "psd-nuernberg.de",
                                "psd-rns.de",
                                "psd-rhein-ruhr.de",
                                "psd-west.de",
                                "psd-wl.de",
                                "rmbeg.de",
                                "rbbaiertal.de",
                                "rb-lauf.de",
                                "rb-nahe.de",
                                "rb-adel-siel.de",
                                "raibadirekt.de",
                                "IhrZiel.de",
                                "raiba-aindling.de",
                                "raiba-aitrang-rud.de",
                                "rb-altdorf-ergolding.de",
                                "raiba-altdorf-feucht.de",
                                "raiffeisenbank-hagelstadt.de",
                                "raiba-altschweier.de",
                                "rb-dreisessel.de",
                                "rb-ags.de",
                                "rb-arge.de",
                                "rb-arnstorf.de",
                                "rb-aschberg.de",
                                "rb-augsburgerland.de",
                                "meine-bank.de",
                                "rb-koetzting.de",
                                "raiffeisenbank-bad-saulgau.de",
                                "raiba-bad-schussenried.de",
                                "raiba-bw.de",
                                "rb-bechhofen.de",
                                "raiba-beilngries.de",
                                "rb-beuerberg.de",
                                "rb-bc.de",
                                "raiffeisenbankzirndorf.de",
                                "raiba-bidingen.de",
                                "rb-biebergrund-petersberg.de",
                                "rbbissingen.de",
                                "raiba-bobingen.de",
                                "raiba-boellingertal.de",
                                "rbborken.de",
                                "rb-bruck.de",
                                "rb-eching.de",
                                "raiba-buehlertal.de",
                                "raiffeisenbank-burgebrach.de",
                                "rbbutjadingen.de",
                                "rb-chamer-land.de",
                                "raiba-donau-heuberg.de",
                                "rbbaunatal.de",
                                "die-raiffeisenbank.de",
                                "raibahandewitt.de",
                                "raibalauenburg.de",
                                "rbleezen.de",
                                "raibamol.de",
                                "rb-niederwallmenach.de",
                                "rbowschlag.de",
                                "rbratzeburg.de",
                                "rbrodenbach.de",
                                "rbseestermuehe.de",
                                "rb-simmerath.de",
                                "rbstruvenhuetten.de",
                                "rbtodenbuettel.de",
                                "rb-deggendorf.de",
                                "raiffeisenbank-elztal.de",
                                "meine-hausbank.de",
                                "rbscharrel.de",
                                "rb-unterwesterwald.de",
                                "rb-ehekirchen.de",
                                "rb-eh.de",
                                "rb-eifeltor.de",
                                "rbelbmarsch.de",
                                "raiba-elsavatal.de",
                                "ems-vechte.de",
                                "rberding.de",
                                "rb-erkelenz.de",
                                "raiffeisenbank-erlenbach.de",
                                "raiffeisenbankersingen.de",
                                "rb-elln.de",
                                "rb-eschweiler.de",
                                "rb-essenbach.de",
                                "rbfalkenstein-woerth.de",
                                "raiba-fkh.de",
                                "raiba-flachsmeer.de",
                                "raiba-floss.de",
                                "rb-frs.de",
                                "rb-freinsheim.de",
                                "rb-fuchstal.de",
                                "rb-gefrees.de",
                                "rb-geiselhoering.de",
                                "raiba-gr.de",
                                "raiba-gilching.de",
                                "raiffeisenbank-gmund.de",
                                "rb-gotha.de",
                                "rb-graevenwiesbach.de",
                                "raiba-gretha.de",
                                "raiba-gh.de",
                                "raiba-grimma.de",
                                "rb-gymnich.de",
                                "rbk-haag-gars.de",
                                "raibahallertau.de",
                                "rb-hardt-bruhrain.de",
                                "rb-windsbach.de",
                                "rb-hs.de",
                                "rb-hersbruck.de",
                                "rb-hessennordeG",
                                "raiffeisenbank-hiltenfingen.de",
                                "rb-hirschau.de",
                                "raiba-hoechberg.de",
                                "rb-fwo.de",
                                "rb-hl.de",
                                "rb-ichenhausen.de",
                                "raiffeisenbank-gundelfingen.de",
                                "rb-idt.de",
                                "rb-fuldaerland.de",
                                "rb-grabfeld.de",
                                "meinebank.de",
                                "rbpn.de",
                                "oberlandbank.de",
                                "rb-opf-jura.de",
                                "raiffeisenbank-irrel.de",
                                "rileg.de",
                                "raiba-kaarst.de",
                                "raiffeisenbank-kaiserstuhl.de",
                                "rbkalbe-bismark.de",
                                "raiba-kastellaun.de",
                                "raiba-kehrig.de",
                                "ihrebankimallgaeu.de",
                                "rb-kirchweihtal.de",
                                "rb-kirtorf.de",
                                "rb-kissing-mering.de",
                                "rb-kitzingerland.de",
                                "rbkk.de",
                                "raiffeisenbank-lorup.de",
                                "raiba-msp.de",
                                "raiba-massbach.de",
                                "raiba-seenplatte.de",
                                "raiffeisenbank-mehring-leiwen.de",
                                "rb-mehrstetten.de",
                                "rb-mittelschwaben.de",
                                "raiba-moselkrampen.de",
                                "raiba-moetzingen.de",
                                "rb-muenchen-nord.de",
                                "raiba-muc-sued.de",
                                "raiba-mutlangen.de",
                                "rb-reischach.de",
                                "raiba-neustadt.de",
                                "rb-new-voh.de",
                                "rb-niedere-alb.de",
                                "rb-nordkreis.de",
                                "raiba-alsbach.de",
                                "raiba-oberfer-burgthann.de",
                                "raiba-oberland.de",
                                "rbobermain.de",
                                "raiba-kem.de",
                                "rb-os.de",
                                "rb-om.de",
                                "raiba-oldenburg.de",
                                "raiba-ortenburg.de",
                                "rbopr.de",
                                "raiffeisenbank-ottenbach.de",
                                "rb-parkstetten.de",
                                "rb-pfaffenhausen.de",
                                "raiba-pfaffenhofen.de",
                                "raiba-pfaffenwinkel.de",
                                "rb-pfeffenhausen.de",
                                "rb-plankstetten.de",
                                "rb-rattiszell-konzell.de",
                                "raiffeisenbank-regensburg.de",
                                "raiba-regenstauf.de",
                                "raiba-rehling.de",
                                "rb-reute-gaisbeuren.de",
                                "raiba-ried.de",
                                "raiba-riedenburg.de",
                                "rb-rosenstein.de",
                                "raiba-roth-schwabach.de",
                                "rb-schaafheim.de",
                                "rb.sobland.de",
                                "unsere-raiba.de",
                                "rb-schwaben.de",
                                "raiba-schwabmuenchen.de",
                                "seebachgrund.de",
                                "rb-singoldtal.de",
                                "raiffeisenbank-sinzing.de",
                                "email.rwg.d",
                                "rb-stw.de",
                                "rb-stauden.de",
                                "raiba-steingaden.de",
                                "raiba-steinheim.de",
                                "raibasr.de",
                                "raiba-idafehn.de",
                                "raiba-suedhardt.de",
                                "raibasbw.de",
                                "rb-sued-oal.de",
                                "rbsum.de",
                                "rbsuro.de",
                                "rb-grosskaro.de",
                                "rb-tofk.de",
                                "rb-thannhausen.de",
                                "raiba-tuengental.de",
                                "rb-tuerkheim.de",
                                "raiba-ueda.de",
                                "rbui.de",
                                "rb-unteres-vilstal.de",
                                "rb-uz.de",
                                "rbvw.de",
                                "rb-volkmarsen.de",
                                "rb-voreifel.de",
                                "rb-wangen.de",
                                "rb-gunzenhausen.de",
                                "raiba-welling.de",
                                "rb-werratal-landeck.de",
                                "raiffeisenbank-westallgaeu.de",
                                "rb-westeifel.de",
                                "rb-westhausen.de",
                                "westkreis.de",
                                "rb-wyhl.de",
                                "rb-zellerland.de",
                                "rb-zorneding.de",
                                "raika-erbes-buedesheim.de",
                                "rvab.de",
                                "rvb-donauwoerth.de",
                                "rv-ebe.de",
                                "raiba-voba.de",
                                "RVB-Fresena.de",
                                "rvb-hassberge.de",
                                "hermsdorfer-kreuz.de",
                                "rvbn.de",
                                "rvbankries.de",
                                "rvb-tu.de",
                                "rvbvarelnordenham.de",
                                "rvbwemding.de",
                                "rheingauer-volksbank.de",
                                "raiba-rosbach.de",
                                "rostocker-vrbank.de",
                                "rottaler-raiba.de",
                                "r-volksbank.de",
                                "raiba-sob.de",
                                "skb-buehlertal.de",
                                "skb-rheinstetten.de",
                                "sdk-bockum-hoevel.de",
                                "sdkinlamstedt.de",
                                "spadaka-friesoythe.de",
                                "skbwitten.de",
                                "skb-hammah.de",
                                "skb-gemuenden.de",
                                "sparda-a.de",
                                "sparda-bw.de",
                                "sparda-b.de",
                                "sparda-bank-hamburg.de",
                                "sparda-h.de",
                                "sparda-hessen.de",
                                "sparda-m.de",
                                "sparda-n.de",
                                "sparda-ostbayern.de",
                                "sparda-sw.de",
                                "sparda-west.de",
                                "skb-badhomburg.de",
                                "spreewaldbank.de",
                                "steylerbank.de",
                                "sylter-bank.de",
                                "vbu-volksbank.de",
                                "verbundvolksbank-owl.de",
                                "rb-burgstaedt.de",
                                "raibank.de",
                                "v-vb.de",
                                "vbgh.de",
                                "meine-vvb.de",
                                "vvrb.de",
                                "vvr-bank.de",
                                "diebank.de",
                                "vvrbk.de",
                                "vb-krp.de",
                                "vereinte-volksbank.de",
                                "vbfuerstenwalde.de",
                                "vr-bank-muldental.de",
                                "vrbprignitz.de",
                                "vrbsaale-unstrut.de",
                                "vb-saarpfalz.de",
                                "vb-rb-riedlingen.de",
                                "vr-vilshofen.de",
                                "volksbank-ebingen.de",
                                "vb-grafschaft-hoya.de",
                                "vbao.de",
                                "vbal.de",
                                "vb-alzey-worms.de",
                                "voba-aw.de",
                                "volksbank-ammerbuch.de",
                                "vb-niers.de",
                                "volksbank-anroechte.de",
                                "vb-ascheberg-herbern.de",
                                "volksbank-backnang.de",
                                "vbbs.de",
                                "voba-saulgau.de",
                                "vb-babara.de",
                                "vbbakum.de",
                                "volksbank-baumberge.de",
                                "voba-bl.de",
                                "vb-bia.de",
                                "volksbank-berg.de",
                                "volksbank-bi-gt.de",
                                "voba-bigge-lenne.de",
                                "volksbank-blaubeuren.de",
                                "vb-bocholt.de",
                                "vb-bochumwitten.de",
                                "volksbank-boenen.de",
                                "volksbank-boerde-bernburg.de",
                                "vbbh.de",
                                "vbank.de",
                                "vb-brandoberndorf.de",
                                "vbbraunlage.de",
                                "voba-breisgau-nord.de",
                                "vbbm.de",
                                "vbbremennord.de",
                                "volksbank-brenztal.de",
                                "vb-bbs.de",
                                "vb-bruchsal-bretten.de",
                                "voba-bkh.de",
                                "vb-buehl.de",
                                "volksbank-butzbach.de",
                                "volksbank-chemnitz.de",
                                "volksbank-daaden.de",
                                "vbdammer-berge.de",
                                "volksbanking.de",
                                "voba-deisslingen.de",
                                "volksbank-dh.de",
                                "vb-delitzsch.de",
                                "volksbank-demmin.de",
                                "vbdonw.de",
                                "vobadreieich.de",
                                "vb3.de",
                                "vbddbz.de",
                                "vobadhk.de",
                                "volksbank-dueren.de",
                                "deine-volksbank.de",
                                "volksbank-syke.de",
                                "vbfoa.de",
                                "VB-eg.de",
                                "vobakn.de",
                                "vb-abi.de",
                                "vbloeningen.de",
                                "vbnienburg.de",
                                "vbohz.de",
                                "myvoba.com",
                                "vb-ww.de",
                                "volksbanksulingen.de",
                                "volksbank-ueberlingen.de",
                                "volksbank-eg.de",
                                "vobawf.de",
                                "gestalterbank.de",
                                "vbbrawo.de",
                                "volksbankeg.de",
                                "rvbdelmenhorst-schierbrok.de",
                                "volksbank-vor-ort.de",
                                "voba-fds.de",
                                "vbsila.de",
                                "volksbank-westrhauderfehn.de",
                                "vb-grebenhain.de",
                                "volksbank-eifel.de",
                                "my-volksbank.de",
                                "vb-elsen-wewer-borchen.de",
                                "volksbankelsterland.de",
                                "dervolksbanker.de",
                                "vb-emstal.de",
                                "vbemstek.de",
                                "vb-eow.de",
                                "volksbank-erft.de",
                                "volksbankerle.de",
                                "voba-ermstal-alb.de",
                                "vbesens.de",
                                "vbessen-cappeln.de",
                                "volksbank-ettlingen.de",
                                "volksbank-euskirchen.de",
                                "vbeutin.de",
                                "vb-feldatal.de",
                                "volksbank-filder.de",
                                "vb-flein-talheim.de",
                                "volksbank-franken.de",
                                "volksbank-freiburg.de",
                                "volksbank-fntt.de",
                                "vbgebhardshain.de",
                                "vbgeest.de",
                                "vbgn.de",
                                "vb-gemen.de",
                                "vb-gescher.de",
                                "voba-glm.de",
                                "vbghb.de",
                                "volksbank-goeppingen.de",
                                "vbga.de",
                                "volksbankhaaren.de",
                                "vbhalle.de",
                                "vb-halle.de",
                                "vbhs.de",
                                "volksbank-hamm.de",
                                "vbhaseluenne.de",
                                "vbheiden.de",
                                "volksbank-heilbronn.de",
                                "vb-heimbach.de",
                                "volksbank-heinsberg.de",
                                "volksbank-hellweg.de",
                                "meinevolksbank.de",
                                "vbhnr.de",
                                "voba-heuchelheim.de",
                                "volksbank-hochrhein.de",
                                "vb-hohenlimburg.de",
                                "vb-hohenlohe.de",
                                "voba-hoba.de",
                                "volksbank-hunsrueck-nahe.de",
                                "voba-ibl.de",
                                "vbimharz.de",
                                "vb-im-hochsauerland.de",
                                "vb-iw.de",
                                "volksbank-immenstadt.de",
                                "vb-hm.de",
                                "vb-is.de",
                                "vbinswf.de",
                                "vb-jerichower-land.de",
                                "vobakl.de",
                                "vb-kawe.de",
                                "volksbank-karlsruhe.de",
                                "vobakg.de",
                                "volksbank-kempen.de",
                                "volksbank-kierspe.de",
                                "voba-kw.de",
                                "volksbank-kleverland.de",
                                "volksbank-koeln-bonn.de",
                                "vbkraichgau.de",
                                "vbkrefeld.de",
                                "volksbank-kurpfalz.de",
                                "vb-laichinger-alb.de",
                                "vb-langendernbach.de",
                                "vblastrup.de",
                                "vb-lauterbach-schlitz.de",
                                "vb-lauterecken.de",
                                "vbleos.de",
                                "volksbank-lindenberg.de",
                                "volksbank-lingen.de",
                                "vb-direkt.de",
                                "vblohne-muehlen.de",
                                "vbll.de",
                                "volksbank-luebeck.de",
                                "volksbank-ludwigs",
                                "vblh.de",
                                "vobamd.de",
                                "voba-mainspitze.de",
                                "vobamt.de",
                                "vb-marl-recklinghausen.de",
                                "volksbank-messkirch.de",
                                "vb-mittelhessen.de",
                                "v-mn.de",
                                "voba-msw.de",
                                "volksbank-mittleres-erzgebirge.de",
                                "vb-mittweida.de",
                                "voba-moeckmuehl.de",
                                "voba-mg.de",
                                "volksbank-muensingen.de",
                                "vbmn.de",
                                "volksbank-neckartal.de",
                                "vbneuenkirchen-voerden.de",
                                "vbng.de",
                                "volksbank-niederrhein.de",
                                "vbnh.de",
                                "vb-nordhuemmling.de",
                                "vbnsw.de",
                                "volksbank-nottuln.de",
                                "vb-oberberg.de",
                                "voba-ober-moerlen.de",
                                "vbol.de",
                                "volksbank-oldenburg.de",
                                "voba-owd.de",
                                "volksbank-osnabrueck.de",
                                "volksbank-ostlippe.de",
                                "vobaoyten.de",
                                "Volksbank-Pforzheim.de",
                                "volksbank-pfullendorf.de",
                                "volksbank-pirna.de",
                                "volksbank-plochingen.de",
                                "volksbank-raesfeld.de",
                                "die-vrbank.de",
                                "vr-bayernmitte.de",
                                "vr-dachau.de",
                                "vrhs.de",
                                "vreg.de",
                                "vb-ffb.de",
                                "vr-li.de",
                                "vbrb-mei-grh.de",
                                "vrb-goerlitz.de",
                                "vr-bank-nuernberg.de",
                                "vrbank-obb-so.de",
                                "vr-rs.de",
                                "genobank-rhoen-grabfeld.de",
                                "vrsta.de",
                                "vr-bank-wuerzburg.de",
                                "vbrn.de",
                                "volksbank-remseck.de",
                                "volksbank-rhede.de",
                                "voba-rheinahreifel.de",
                                "voba-rheinboellen.de",
                                "voba-rek.de",
                                "voba-rll.de",
                                "volksbank-rhein-lippe.de",
                                "voba-rnh.de",
                                "volksbank-rhein-ruhr.de",
                                "volksbank-rhein-wehra.de",
                                "volksbank-riesa.de",
                                "volksbank-rietberg.de",
                                "volksbank-rot.de",
                                "volksbank-rottweil.de",
                                "vb-ruhrmitte.de",
                                "vb-sauerland.de",
                                "vb-schermbeck.de",
                                "volksbank-schlangen.de",
                                "vb-schnathorst.de",
                                "volksbank-schupbach.de",
                                "voba-schwanewede.de",
                                "vbsdn.de",
                                "voba-seligenstadt.de",
                                "vobaselmbork.de",
                                "vb-senden.de",
                                "vbsolling.de",
                                "vbspn.de",
                                "vbsprockhoevel.de",
                                "vobaeg.de",
                                "volksbank-staufen.de",
                                "vbstendal.de",
                                "voba-sh.de",
                                "vb-stutensee-weingarten.de",
                                "volksbank-stuttgart.de",
                                "vb-spelle-freren.de",
                                "volksbank-nordkirchen.de",
                                "vobadirekt.de",
                                "volksbank-sulmtal.de",
                                "volksbank-trier.de",
                                "volksbank-trossingen.de",
                                "vb-ueberherrn.de",
                                "vb-ueberwald-gorxheimertal.de",
                                "vb-ue-saw.de",
                                "ulmer-volksbank.de",
                                "volksbank-ulrichstein.de",
                                "vbvechta.de",
                                "volksbank-versmold.de",
                                "vbviersen.de",
                                "vbvisbek.de",
                                "vb-vso.de",
                                "vbvorpommern.de",
                                "volksbank-welzheim.de",
                                "volksbank-weschnitztal.de",
                                "volksbank-westenholz.de",
                                "vb-ws.de",
                                "volksbank-westerstede.de",
                                "vb-wickede.de",
                                "voba-whv.de",
                                "vbwinsenermarsch.de",
                                "volksbank-wissmar.de",
                                "volksbank-wittenberg.de",
                                "vb-wittgenstein.de",
                                "voba-worpswede.de",
                                "volksbankwulfsen.de",
                                "volksbank-zwickau.com",
                                "vr-amberg.de",
                                "volksbank-deggingen.de",
                                "vr-glauchau.de",
                                "vr-azls.de",
                                "vrbank-a-oal.de",
                                "vrbank-bafo.de",
                                "vrbtho.de",
                                "vr-bank-dinklage-steinfeld.de",
                                "vrbank-alsheim.de",
                                "vrbankeg.de",
                                "vrbankgl.de",
                                "vrbank-hw.de",
                                "vrbep.de",
                                "vrbankfulda.de",
                                "vrbank-hessenland.de",
                                "vb-hohenneuffen.de",
                                "vrbank-ih.de",
                                "vr-bank-kitzingen.de",
                                "vrbank-lahndill.de",
                                "vrblausitz.de",
                                "vrbank-mkb.de",
                                "vrbankmecklenburg.de",
                                "vrbank-mittelhaardt.de",
                                "vr-mio.de",
                                "vrbml.de",
                                "vr-nr.de",
                                "vr-nms.de",
                                "meine-bank-no.de",
                                "vrbanknord.de",
                                "vr-ofrm.de",
                                "vrbankol.de",
                                "meine-vrbank.de",
                                "vrbank-rv-wgt.de",
                                "vrbrm.de",
                                "vr-sl-mh.de",
                                "vrbank-sha.de",
                                "vrbank-sww.de",
                                "vrbank-suedpfalz.de",
                                "vrbank-suedthueringen.de",
                                "vr-tuebingen.de",
                                "vrbank-untertaunus.de",
                                "vrbank-weimar.de",
                                "vr-wk.de",
                                "vrb-westthueringen.de",
                                "genobank-donauwald.de",
                                "vrmeinebank.de",
                                "vr-partnerbank.de",
                                "vr-plus.de",
                                "vrbanknet.de",
                                "vrbank-am.de",
                                "vbrb.de",
                                "vrb-meinebank.de",
                                "vr-bank-bonn.de",
                                "vrbank-coburg.de",
                                "rvb-db.de",
                                "volksbank-dornstetten.de",
                                "vr-bank-alzenau.de",
                                "vb-schopfheim.de",
                                "vrbank-eg.de",
                                "vrbank-mw.de",
                                "vrbank-osnordland.de",
                                "vrben.de",
                                "vrb-eisenach.de",
                                "vrbank-ellwangen.de",
                                "vr-bank-erding.de",
                                "rvb-erh.de",
                                "vrbank-fd.de",
                                "vr-bank-marktredwitz.de",
                                "vr-internet.de",
                                "vr-bank-fn.de",
                                "vrbank-geo.de",
                                "vrbank-hg.de",
                                "vr-bank-hm.de",
                                "vrbanksn.de",
                                "vrbank-suedoldenburg.de",
                                "vrbank-isar-vils.de",
                                "vr-ismaning.de",
                                "vrbanklm.de",
                                "vr-ll.de",
                                "vrla.de",
                                "vr-bank-lua.de",
                                "vr-lif-ebn.de",
                                "vr-memmingen.de",
                                "vrbankmitte.de",
                                "raiffeisenvolksbank.de",
                                "vr-bank-mittelsachsen.de",
                                "vorne.de",
                                "vrnu.de",
                                "vr-banknordeifel.de",
                                "vr-bank-nordrhoen.de",
                                "vrbank-ostalb.de",
                                "vr-obm.de",
                                "vr-bank-passau.de",
                                "vrbank-rs.de",
                                "vrbk.de",
                                "vr-bank-sw.de",
                                "vrb-spangenberg.de",
                                "vrbank-suedwestpfalz.de",
                                "vr-bank-online.de",
                                "vbuckermark.de",
                                "vrbank-gap.de",
                                "vrbank-wml.de",
                                "vr-bank.com",
                                "waldecker-bank.de",
                                "westerwaldbank.de",
                                "wvb.de",
                                "winterbacher-bank.de",
                                "zvb.de",
                                "schwaebisch-hall.de",
                                "shks.de",
                                "union-investment.de",
                                "ruv.de",
                                "teambank.de",
                                "dz-privatbank.com",
                                "vr-smart-finanz.de",
                                "dzhyp.de",
                                "dvbbank.com",
                                "vr-factoring.de",
                                "muenchenerhyp.de",
                                "dzbank.de",
                                "volksbank-ulm-biberach.de",
                                "vr-nopf.de",
                                "volksbank-lahr.de",
                                "genoport.de",
                                "raiba-rastede.de",
                                "rb-am-kulm.de",
                                "vr-bank-rg.de",
                                "heidelberger-volksbank.de",
                                "vr-genobank.de",
                                "genossenschaftsverband.de",
				"mvb.de",
				"edekabank.de",
				"volksbank-dettenhausen.de",
				"vr-bankverein.de",
               			"vrbankht.de",
                		"hanvb.de",
                		"vr-meissen.de",
                		"elvb.de",
                		"vr-dm.de",
                		"harzer-volksbank.de",
                		"vb-nm.de",
				"rb-thurnauerland.de",
				"volksbank-albstadt.de",
				"voba-bl.de",
				"abtsgmuender-bank.de",
				"cb-bank.de",
				"eckernfoerder-bank.de",
				"nordthueringer-volksbank.de",
				"psd-rheinneckarsaar.de",
				"ihrziel.de",
				"raiba-aj.de",
				"rbbs.de",
				"rb-dreifranken.de",
				"rb-hfw.de",
				"rbnl.de",
				"rb-lala.de",
				"raiba-smue-stauden.de",
				"rb-wila.de",
				"meine-rvb.de",
				"rvbvarelnordenham.de",
				"rki-stade.de",
				"teba-kreditbank.de",
				"vvrbank-krp.de",
				"voba-alb.de",
				"vobda.de",
				"vbidr.de",
				"vb-isun.de",
				"vrb-niederschlesien.de",
				"vr-as.de",
				"vr-heimatbank.de",
				"vr-teilhaberbank.de",
				"vrbank-rf.de",
				"vrbankabd.de",
				"vrbank-brs.de",
				"vr-bank-mr.de",
				"vr-mfr.de",
				"vr-mb.de",
				"rb-wug.de",
				"fehntjer-voba.de",
				"grafschafter-volksbank.de",
				"vbraesfeldunderle.de",
				"volksbank-langendernbach.de",
				"alxinger-bank.de",
				"freisinger-bank.de",
				"mkbag.de",
				"muenchner-bank.de",
				"olvb.de",
				"ovbleer.de",
				"rb-anger.de",
				"rb-af.de",
				"rb-aschau-samerberg.de",
				"rb-alw.de",
				"rbbai.de",
				"rb-eggenthal.de",
				"raiba-buett-gauk.de",
				"rb-chiemgau-nord.de",
				"raiffeisenbank-denzlingen.de",
				"rb-dietersheim.de",
				"raiba-ndwa.de",
				"rb-eifel.de",
				"rb-frankenhardt-stimpfach.de",
				"rb-grainet.de",
				"rb-hessennord.de",
				"rb-holzkirchen-otterfing.de",
				"raiffeisenbank-kastellaun.de",
				"rb-allgaeuerland.de",
				"rb-kieselbronn.de",
				"raiba-kms.de",
				"rb-massbach.de",
				"rbmehring-leiwen.de",
				"raiba-mittenwald.de",
				"raiba-neumarkt-opf.de",
				"raiba-nuedlingen.de",
				"rb-oberaudorf.de",
				"raibaffeisenbank-ottenbach.de",
				"raiffeisenbank-plankstetten.de",
				"rb-raisting.de",
				"raiffeisenbank-regenstauf.de",
				"raiba-rupertiwinkel.de",
				"rb-sobland.de",
				"raiba-waldaschaff.de",
				"rb-wald.de",
				"raiba-wallgau-kruen.de",
				"raiffeisenbank-wangen.de",
				"rb-wegscheid.de",
				"raibwesermarschsued.de",
				"raibawiesedermeer.de",
				"rb-wuestenselbitz.de",
				"raiffeisenbank-wyhl.de",
				"raiffeisen-volksbank-aschaffenburg.de",
				"rvb-staffelstein-ebensfeld.de",
				"rvb-fresena.de",
				"rvboderspree.de",
				"scharnhauserbank.de",
				"vbganderkesee-hude.de",
				"vereinigte-vrbk.de",
				"vrbfw.de",
				"volksbank-allgaeu-oberschwaben.de",
				"volksbank-altshausen.de",
				"untertuerkheimer-volksbank.de",
				"vb-beilstein-ilsfeld-abstatt.de",
				"volksbank-breisgau-markgraeflerland.de",
				"volksbank-buehl.de",
				"vbdessau.de",
				"vb.vbdonw.de",
				"volksbank-dresden-bautzen.de",
				"volksbank-adelebsen.de",
				"volksbank-gardelegen.de",
				"vb-eg.de",
				"volksbank-sangerhausen.de",
				"volksbank-wuemme-wieste.de",
				"volksbank-mit-herz.de",
				"voba-eg.de",
				"volksbank-brawo.de",
				"vbdel.de",
				"vb-mosbach.de",
				"volksbankeisenberg.de",
				"eu-banking.de",
				"volksbank-feldatal.de",
				"vbhaaren.de",
				"bergische-volksbank.de",
				"volksbank-jever.de",
				"volksbank-kassel-goettingen.de",
				"vb-kempen.de",
				"volksbankkirnau.de",
				"vb-krautheim.de",
				"volksbank-weinheim.de",
				"volksbank-lgz.de",
				"vobalauterbach-schlitz.de",
				"vb-limbach.de",
				"vb-loebau-zittau.de",
				"volksbank-luebbecker-land.de",
				"volksbank-magdeburg.de",
				"volksbank-mittweida.de",
				"volksbank-mn.de",
				"voba-niedergrafschaft.de",
				"volksbank-niedersachsen-mitte.de",
				"volksbank-nordschwarzwald.de",
				"webvbnsw.de",
				"vboyten.de",
				"volksbank-pur.de",
				"vbpur.de",
				"vrbank-ffb.de",
				"volksbank-raiffeisenbank-meissen.de",
				"vb-nordoberpfalz.de",
				"volksbank-raiffeisenbank-regensburg-schwandorf.de",
				"volksbank-rathenow.de",
				"voba-rhein-erft-koeln.de",
				"vobasandhofen.de",
				"vb-selm-bork.de",
				"volksbank-solling.de",
				"vbsuedemsland.de",
				"volksbankviersen.de",
				"visbek.de",
				"vb-westenholz.de",
				"volksbank-wittgenstein.de",
				"vr-bank-alzey-land-schwabenheim.de",
				"vrbank-augsburg-ostallgaeu.de",
				"vrbank-bamberg-forchheim.de",
				"vrbank-hof.de",
				"vrbanking.de",
				"vrbank-hsh.de",
				"vrbank-in-holstein.de",
				"zurbank.de",
				"vr-neuburg-rain.de",
				"vrbank-oldenburgland.de",
				"voba-rn.de",
				"vrbsw.de",
				"vrbank-westkueste.de",
				"vrdh.devolksbank-dornstetten.de",
				"raiffeisenbank-iffezheim.de",
				"vrbank-lb.de",
				"genoakademie.de",
                "voba-online.de",
                		"nuu.one",
                		"nuuone.de",
                		"nuu.re",
                		"nuu-one.de",
                		"nuu1.de"
			];
                function emailValidation() {
                    var emailVar=$('#register-email').val().toLowerCase();
                    var domainVar=emailVar.split('@')[1];
                  if($.inArray(domainVar,domains)>-1) {
                    $('.register-button').prop('disabled', false);
		    if ($('.text-div').text()) {
		    	$('.text-div').remove();
		    }
                    return true;
                  } else {
                    $('.register-button').prop('disabled', true);
		    if (!$('.text-div').text()) {
		        const registerBtn = document.querySelector('.text-center');
		        const div = document.createElement('div');
		        div.textContent = 'Die Domain der eingegebenen E-Mail wurde bisher nicht freigegeben.';
		        div.style.position = 'relative';
		        div.style.top = '35px';
			div.style["text-align"] = 'center';
		        div.classList.add('text-div');
		        registerBtn.parentNode.insertBefore(div, registerBtn.nextSibling);
		    }
		    return false;
                  }
                }
            </script>
            <div id="login-and-registration-container" class="login-register ${border_class}"></div>
            <script type="text/javascript">
                const interval = setInterval(function() {
                    if ($('#register-email').val() != '' && $('#register-email').val() != null && typeof $('#register-email').val() != 'undefined') {
                        emailValidation();  
			const input = document.getElementById("register-username");
			input.addEventListener("input", checkUsername);
                    }
                 }, 250);
            </script>
        </div>
	<div class="text-center">
            <a href="https://nuuone.atlassian.net/servicedesk/customer/portal/7">Fehler melden</a>
        </div>
    </main>
</div>
{% endraw %}
