{% raw %}
<%!
from django.urls import reverse
from django.utils.translation import gettext as _

from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name
import pytz
import six
from datetime import datetime, timedelta
from django.template import RequestContext
from common.djangoapps.entitlements.models import CourseEntitlement
from common.djangoapps.third_party_auth import pipeline
from common.djangoapps.util.date_utils import strftime_localized
from opaque_keys.edx.keys import CourseKey
from openedx.core.djangoapps.content.course_overviews.models import CourseOverview
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text
from common.djangoapps.student.models import CourseEnrollment
%>


    <%inherit file="../main.html" />

    <%block name="pagetitle">${_("Investitionsförderung")}</%block>
    <main id="main" aria-label="Content" tabindex="-1">
        <style>
            .blocker-wrapper {
                flex: 1 1;
                position: relative;
                margin: 0 0 20px;
                color: #fff
            }

            .blocker-text-wrapper {
                position: absolute;
                top: 20%;
                left: 10%;
                -webkit-transform: translateX(-10%) translateY(-20%);
                transform: translateX(-10%) translateY(-20%);
                text-align: left;
                color: white;
                width: 66%;
                max-width: 800px;
            }

            .blocker-text {
                color: white !important;
                text-align: left;
                line-height: 1.5em;
            }

            @media screen and (max-width: 50em) {
                .blocker-text {
                    font-size: 1em;
                    line-height: 1em;
                }

                .blocker-text-wrapper {
                    width: 100%;
                }
            }
        </style>
        <!-- <div class="blocker-wrapper">
            <div class="blocker-text-wrapper">
                <h1 class="blocker-text">
                    <b class="blocker-text">BEG-Förderung für Neubauten – Restart ab dem 20.04.2022</b>
                </h1>
                <p class="blocker-text">
                    Ab dem 20.04.2022 können neue Anträge für den Neubau von energieeffizienten Gebäuden gestellt werden – allerdings mit reduzierten Tilgungszuschüssen.<br><br>
                    Die Neubau-Förderung wird ausschließlich in den Kreditvarianten 261/263 angeboten. Für diese Anträge stehen begrenzte Haushaltsmittel i.H.v. 1 Mrd. EUR zur Verfügung. Finanzierungszusagen für neue Anträge können erteilt werden, soweit und solange dieser Haushaltsmittelansatz nicht ausgeschöpft ist (Windhundprinzip). Wir raten zu einer zeitnahen Antragstellung.
                </p>
            </div>
            <img alt="Hinweis: BEG-Förderung für Neubauten – Restart ab dem 20.04.2022"
                src="https://dz-bank.s3.eu-central-1.amazonaws.com/IF_Slider_Hinweis.png" width="100%">
        </div> -->
        <script type="text/javascript">
            (function (require) {
                require(['course_search/js/dashboard_search_factory'], function (DashboardSearchFactory) {
                    DashboardSearchFactory();
                });
            }).call(this, require || RequireJS.require);
        </script>
        <section class="find-courses">
            <section class="courses-container">
                <div id="discovery-message" class="search-status-label">Investitionsförderung: 6 Kurse</div>
                % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
                <div id="dashboard-search-bar" style="width: 270px; float: right;"
                    class="search-bar dashboard-search-bar" role="search" aria-label="Dashboard">
                    <form class="search-form">
                        <label for="dashboard-search-input">${_('Search Your Courses')}</label>
                        <div class="search-field-wrapper">
                            <input id="dashboard-search-input" type="text" class="search-field" />
                            <button type="submit" class="search-button" title="${_('Search')}">
                                <span class="icon fa fa-search" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="cancel-button" title="${_('Clear search')}">
                                <span class="icon fa fa-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </form>
                </div>
                <div id="dashboard-search-results" class="search-results dashboard-search-results"
                    style="top: 80px; position: relative; margin-bottom: 82px;"></div>
                % endif

                <div id="filter-bar" class="filters hide-phone is-collapsed is-animated">
                    <div class="filters-inner">
                        <ul class="active-filters facet-list"></ul>
                        <button id="clear-all-filters"
                            class="clear-filters flt-right discovery-button">Zurücksetzen</button>
                    </div>

                </div>

                <div class="courses" role="region" aria-label="Kursliste">
                    <ul class="courses-listing courses-list">
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="Firmenkunden">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/Gewerbe_Ueberschrift.jpg"
                                            alt="Firmenkunden dz3" />
                                    </div>
                                    <div class="video-shortcut-wrapper">
                                        <div class="video-shortcut-vertical-center">
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz3+firmenkunden/jump_to_id/fa65232b89c1482fb12e3cdcc0dbcfd6">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Allgemeine Rahmenbedingungen
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz3+firmenkunden/jump_to_id/fdeedbd21037492893c485b415538583">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Gebäudeförderung
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz3+firmenkunden/jump_to_id/5388a5e547944b4fb4f5640e32d5bbc4">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Gründung & Wachstum
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz3+firmenkunden/jump_to_id/002740d1da2743d4a78e818c7b9bfc9b">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Energieeffizienz & Umweltschutz
                                            </a>
                                        </div>
                                    </div>
                                </header>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="Privatkunden">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/Privatkunden_Ueberschrift.jpg"
                                            alt="Privatkunden dz4">
                                    </div>
                                    <div class="video-shortcut-wrapper">
                                        <div class="video-shortcut-vertical-center">
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz4+privatkunden/jump_to_id/57847621388544179124d97812769bbf">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Wohneigentum für Familien
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz4+privatkunden/jump_to_id/ad61471c27864befab449f23b99e9650">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Bundesförderung für effiziente Gebäude
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz4+privatkunden/jump_to_id/ec427350708d4661a6f72a3fbda2abc8">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Altersgerecht Umbauen & Einbruchschutz
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz4+privatkunden/jump_to_id/599a13e08bec4e5a9b755b3bf190e0d4">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Klimafreundlicher Neubau
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz4+privatkunden/jump_to_id/3b6d382d4ecd4fb9aa8624bade1d8e92">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Einzelmaßnahmen inkl. Heizung (neu)
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz4+privatkunden/jump_to_id/3d79b6f73a7241a99b1c452a261f50e2">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Wohneigentumsprogramm (KfW 124/134)
                                            </a>
                                        </div>
                                    </div>
                                </header>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="Marktfolge">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/Marktfolge_Ueberschrift.jpg"
                                            alt="Marktfolge dz5">
                                    </div>
                                    <div class="video-shortcut-wrapper">
                                        <div class="video-shortcut-vertical-center">
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz5+marktfolge/jump_to_id/de97feaf5e6e4d95961ba4d1c77a93ed">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Allgemeine Rahmenbedingungen
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz5+marktfolge/jump_to_id/bcdcfe07e0df4f97a4292c225bf9fa73">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Neugeschäft
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz5+marktfolge/jump_to_id/e600290df612412ebd2847165493122b">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Marktfolge Bestandsgeschäft
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz5+marktfolge/jump_to_id/f280e0afee7443728039aa7bfe327028">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Mittelverwenungskontrolle
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz5+marktfolge/jump_to_id/c3cc20df83c2426e99b172797b5e9b0f">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Hausbankprüfung
                                            </a>
                                        </div>
                                    </div>
                                </header>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="GENO-STAR">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/GENO-STAR_Ueberschrift.jpg"
                                            alt="GENO-STAR">
                                    </div>
                                    <div class="video-shortcut-wrapper">
                                        <div class="video-shortcut-vertical-center">
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz6+GENO-STAR/jump_to_id/7e89226d0e744e68bc47a275722016c3">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Zinsbestätigung agree21-Modellrechnung
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz6+GENO-STAR/jump_to_id/b5f0ddcfb4d54959863440fabd9b0f81">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Anlage eines Fördermittelantrages mit zwei Förderprogrammen
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz6+GENO-STAR/jump_to_id/de97feaf5e6e4d95961ba4d1c77a93ed">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Zinsbestätigung für KfW-Kredite aus der Genossenschaftlichen Beratung
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz6+GENO-STAR/jump_to_id/e46be49714d44559bd25935b770a6007">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Technische Unterstützung
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz6+GENO-STAR/jump_to_id/354c43bea6164f6caea45fa82a664120">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Gewerbliche Bestätigung zum Antrag
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz6+GENO-STAR/jump_to_id/ad3b34202964491a91b70203c119b065">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Häufigste Fehler bei der Antragstellung (Wohnungsbau)
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz6+GENO-STAR/jump_to_id/635797efa8434b69b88e04eb0b2cd1e6">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Häufigste Fehler bei der Antragstellung (Gewerblich)
                                            </a>
                                        </div>
                                    </div>
                                </header>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="Notleidenden Kredite">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/Notleidende_Kredite_Ueberschrift.jpg"
                                            alt="Notleidenden Kredite">
                                    </div>
                                    <div class="video-shortcut-wrapper">
                                        <div class="video-shortcut-vertical-center">
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz8+Notleidenden_Kredite/jump_to_id/7e89226d0e744e68bc47a275722016c3">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Programmgrundzüge Produkt ERP-Gründerkredit Startgeld
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz8+Notleidenden_Kredite/jump_to_id/b5f0ddcfb4d54959863440fabd9b0f81">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Detaillierte Abwicklungsschritte
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz8+Notleidenden_Kredite/jump_to_id/de97feaf5e6e4d95961ba4d1c77a93ed">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Eigenverwaltung
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz8+Notleidenden_Kredite/jump_to_id/888d09694b5646b882c6b1ff43516ef0">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Rückzahlungsvereinbarung
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz8+Notleidenden_Kredite/jump_to_id/a357878cf8534dafb96ac5c8a1bc13bf">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Abschlussbericht
                                            </a>
                                        </div>
                                    </div>
                                </header>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="ZuschussGuide">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/ZuschussGuide_Ueberschrift.png"
                                            alt="ZuschussGuide">
                                    </div>
                                    <div class="video-shortcut-wrapper">
                                        <div class="video-shortcut-vertical-center">
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz8+zuschussguide/jump_to_id/b5d2e1604e7245e5a19733698e89746b">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Zuschussguide in der Praxis
                                            </a>
                                            <a class="video-shortcut-item"
                                                href="/courses/course-v1:dz-bank+dz8+zuschussguide/jump_to_id/33e2c2f9ee9a468b92b96d419edfedac">
                                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 6"
                                                    viewBox="0 0 708.66 708.66" style="     height: 18px; ">
                                                    <g class="bs_il_svg_fill" fill="#707172">
                                                        <path class="cls-1"
                                                            d="m337.08 494.54 53.18-52.48-53.16-52.48-.02 104.96zm71.38-270.11-78.21-34.61-43.54 9.64 78.22 34.61 43.53-9.64zm-91.68 20.29-78.22-34.6-42.21 9.34 78.19 34.61 42.24-9.35z" />
                                                        <path class="cls-1"
                                                            d="M513.52 318.49H463.8v-.05l50.11-36.27h-43.67l-50 36.33h-49.63l49.94-36.29h-43.17l-50.2 36.33h-49.72v-.06l50.12-36.27h-43.86l-49.88 36.29h-49.58l49.84-36.3h-51.74v-7.69l44.64-9.92-78.81-34.48-11.57 2.56 11 49.49V556h413V284.42zm-160 202.36a81 81 0 1 1 81-81 81 81 0 0 1-81.02 81zm181.56-376.36-66.33 14.68 77.13 34.13-10.8-48.81zm-36.27 59.95-78.2-34.61-42.21 9.34 78.21 34.61 42.2-9.34z" />
                                                    </g>
                                                </svg>Zuschussguide im Bankeneinsatz
                                            </a>
                                        </div>
                                    </div>
                                </header>
                            </article>
                        </li>
                    </ul>
                </div>


                <aside aria-label="Suche filtern" class="search-facets phone-menu">
                    <h2 class="header-search-facets">Suche filtern</h2>
                    <section class="search-facets-lists">
                        <h3 class="header-facet">
                            modes
                        </h3>
                        <ul data-facet="modes" class="facet-list collapse">

                            <li>
                                <button data-facet="modes" data-value="honor" data-text="honor"
                                    class="facet-option discovery-button ">
                                    honor
                                    <span class="count">
                                        <span class="count-number">5</span>
                                    </span>
                                </button>
                            </li>


                        </ul>



                        <h3 class="header-facet">
                            org
                        </h3>
                        <ul data-facet="org" class="facet-list collapse">

                            <li>
                                <button data-facet="org" data-value="dz-bank" data-text="dz-bank"
                                    class="facet-option discovery-button ">
                                    dz-bank
                                    <span class="count">
                                        <span class="count-number">5</span>
                                    </span>
                                </button>
                            </li>


                        </ul>



                        <h3 class="header-facet">
                            language
                        </h3>
                        <ul data-facet="language" class="facet-list collapse">

                            <li>
                                <button data-facet="language" data-value="de" data-text="de"
                                    class="facet-option discovery-button ">
                                    de
                                    <span class="count">
                                        <span class="count-number">5</span>
                                    </span>
                                </button>
                            </li>


                        </ul>


                    </section>
                </aside>
                <script>
                    let videoShortcutWrapper = document.querySelectorAll('.video-shortcut-wrapper');
                    for (var i = 0; i < videoShortcutWrapper.length; i++) {
                        let wrapper = videoShortcutWrapper[i];
                        let prevSibling = wrapper.previousElementSibling;
                        prevSibling.appendChild(wrapper);
                    }
                </script>
            </section>
        </section>
    </main>
    {% endraw %}
