{% raw %}
<%!
from django.urls import reverse
from django.utils.translation import gettext as _

from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name
import pytz
import six
from datetime import datetime, timedelta
from django.template import RequestContext
from common.djangoapps.entitlements.models import CourseEntitlement
from common.djangoapps.third_party_auth import pipeline
from common.djangoapps.util.date_utils import strftime_localized
from opaque_keys.edx.keys import CourseKey
from openedx.core.djangoapps.content.course_overviews.models import CourseOverview
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text
from common.djangoapps.student.models import CourseEnrollment
%>


    <%inherit file="../main.html" />

    <%block name="pagetitle">${_("Investitionsförderung")}</%block>
    <main id="main" aria-label="Content" tabindex="-1">
        <style>
            .blocker-wrapper {
                flex: 1 1;
                position: relative;
                right: calc((100vw - (100%)) / 2 );
                width: calc(100vw - 8px);
                height: 600px;
                margin: 0px calc(max(0px, (100vw - 1920px) / 2)) 20px calc(max(0px, (100vw - 1920px) / 2));
                color: #fff;
            }

            .blocker-text-wrapper {
                position: absolute;
                padding-left: calc(max(45px, (100% - 1425px) / 2));
                padding-top: 87px;
                height: calc(100% - 87px);
                text-align: left;
                color: #f08200;
                background: linear-gradient(90deg, rgb(255, 255, 255, 0.85), transparent);
            }

            .blocker-text {
                color: #f08200 !important;
                text-align: left;
                line-height: 1.5em;
            }

            .blocker-description {
                color: #484848 !important;
                font-size: 20px;
                line-height: 22px;
                width: 400px;
            }

            @media screen and (max-width: 50em) {
                .blocker-text {
                    font-size: 1em;
                    line-height: 1em;
                }
            }
            .course-title {
                height: 82px;
                display: grid;
                text-align: center;
                color: #f08200;
                font-size: 20px;
                font-weight: 600;
                align-items: center;
            }
            .course-image {
                max-height: 240px;
                overflow: hidden;
            }
        </style>

        <script type="text/javascript">
            (function (require) {
                require(['course_search/js/dashboard_search_factory'], function (DashboardSearchFactory) {
                    DashboardSearchFactory();
                });
            }).call(this, require || RequireJS.require);
        </script>
        <section class="find-courses" style="top:-56px; position: relative;">
             % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
                <div id="dashboard-search-bar" style="width: 270px; right: calc((100vw - min(1420px, 100%)) / 2); top: 80px; z-index: 1000; position: fixed;" class="search-bar dashboard-search-bar hidden-mobile" role="search" aria-label="Dashboard">
                    <form class="search-form">
                        <label for="dashboard-search-input">${_('Search Your Courses')}</label>
                        <div class="search-field-wrapper">
                            <input id="dashboard-search-input" type="text" class="search-field" />
                            <button type="submit" class="search-button" title="${_('Search')}">
                                <span class="icon fa fa-search" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="cancel-button" title="${_('Clear search')}">
                                <span class="icon fa fa-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </form>
                </div>
                <div id="dashboard-search-results" class="search-results dashboard-search-results"
                    style="top: 80px; position: relative; margin-bottom: 82px;"></div>
                % endif
            <section class="courses-container">
                <div class="courses" role="region" aria-label="Kursliste Investitionsförderung">
                    <div class="blocker-wrapper" style="background-image: url('https://dz-bank.s3.eu-central-1.amazonaws.com/images/Investitionsfoerderung.webp'); background-size: cover; background-position: center; min-height: 250px; display: flex; align-items: center; justify-content: flex-start; text-align: left; margin-bottom: 2rem;">
                        <div class="blocker-text-wrapper">
                            <h2 class="blocker-text" style="font-size: 2.5rem; font-weight: bold;">Investitionsförderung</h2>
                            <p class="blocker-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <ul class="courses-listing courses-list">
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="Gewerbe">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/images/Gewerbe.webp" alt="Gewerbe dz3" />
                                    </div>
                                </header>
                                <span class="course-title">Gewerbe</span>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="Wohnungsbau">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/images/Wohnungsbau.webp" alt="Wohnungsbau dz4">
                                    </div>
                                </header>
                                <span class="course-title">Wohnungsbau</span>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="Marktfolge">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/images/Marktfolge.webp" alt="Marktfolge dz5">
                                    </div>
                                </header>
                                <span class="course-title">Marktfolge</span>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="Technische Unterstuetzung im Antragsprozess">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/images/Technische_Unterstuetzung_im_Antragsprozess.webp" alt="Technische Unterstuetzung im Antragsprozess dz6">
                                    </div>
                                </header>
                                <span class="course-title">Technische Unterstuetzung im Antragsprozess</span>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="Notleidenden Kredite">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/images/Notleidende_Kredite.webp" alt="Notleidenden Kredite dz8">
                                    </div>
                                </header>
                                <span class="course-title">Notleidenden Kredite</span>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="Vertriebsunterstützung für Ihre Kunden">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/ZuschussGuide_Ueberschrift.png" alt="Vertriebsunterstützung für Ihre Kunden dz8">
                                    </div>
                                </header>
                                <span class="course-title">Vertriebsunterstützung für Ihre Kunden</span>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="Infrastrukturfinanzierung">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/images/Infrastrukturfinanzierung.webp" alt="Infrastrukturfinanzierung dz15">
                                    </div>
                                </header>
                                <span class="course-title">Infrastrukturfinanzierung</span>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="LandwirtschaftlicheRentenbank">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/images/Landwirtschaftliche_Rentenbank.webp" alt="LandwirtschaftlicheRentenbank dz16">
                                    </div>
                                </header>
                                <span class="course-title">Landwirtschaftliche Rentenbank</span>
                            </article>
                        </li>
                    </ul>
                </div>
                
                <div class="courses" role="region" aria-label="Firmenkundengeschäft">
                     <div class="blocker-wrapper" style="background-image: url('https://dz-bank.s3.eu-central-1.amazonaws.com/images/Finanzkundengeschaeft.webp'); background-size: cover; background-position: center; min-height: 250px; display: flex; align-items: center; justify-content: flex-start; text-align: left; margin-bottom: 2rem;">
                        <div class="blocker-text-wrapper">
                            <h2 class="blocker-text" style="font-size: 2.5rem; font-weight: bold;">Firmenkundengeschäft</h2>
                             <p class="blocker-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <ul class="courses-listing courses-list">
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="VR GeschäftsNavigator">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/images/VR_Geschaeftsnavigator.webp" alt="VR GeschäftsNavigator"/>
                                    </div>
                                </header>
                                <span class="course-title">VR GeschäftsNavigator</span>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="Nachfolgealgorithmus">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/images/Nachfolge_Algorithmus.webp" alt="Nachfolgealgorithmus"/>
                                    </div>
                                </header>
                                <span class="course-title">Nachfolgealgorithmus</span>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="VR Factoring">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/images/VR_Factoring.webp" alt="VR Factoring"/>
                                    </div>
                                </header>
                                <span class="course-title">VR Factoring</span>
                            </article>
                        </li>
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="Nachhaltigkeit">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/images/Nachhaltigkeit.webp" alt="Nachhaltigkeit"/>
                                    </div>
                                </header>
                                <span class="course-title">Nachhaltigkeit</span>
                            </article>
                        </li>
                    </ul>
                </div>
                
                <div class="courses" role="region" aria-label="KompetenzCenter Nachfolge">
                    <div class="blocker-wrapper" style="background-image: url('https://dz-bank.s3.eu-central-1.amazonaws.com/images/KompetenzCenter_Nachfolge.webp'); background-size: cover; background-position: center; min-height: 250px; display: flex; align-items: center; justify-content: flex-start; text-align: left; margin-bottom: 2rem;">
                        <div class="blocker-text-wrapper">
                            <h2 class="blocker-text" style="font-size: 2.5rem; font-weight: bold;">KompetenzCenter Nachfolge</h2>
                            <p class="blocker-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                     <ul class="courses-listing courses-list">
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="KompetenzCenter Nachfolge für Volksbanken Raiffeisenbanken">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/images/KompetenzCenter_Nachfolge_fuer_Volksbanken_Raiffeisenbanken.webp" alt="KompetenzCenter Nachfolge für Volksbanken Raiffeisenbanken"/>
                                    </div>
                                </header>
                                <span class="course-title">KompetenzCenter Nachfolge für Volksbanken Raiffeisenbanken</span>
                            </article>
                        </li>
                    </ul>
                </div>
                
                <div class="courses" role="region" aria-label="Strukturierte Finanzierungen - Auslandsgeschäft">
                    <div class="blocker-wrapper" style="background-image: url('https://dz-bank.s3.eu-central-1.amazonaws.com/images/Strukturierte_Finanzierungen_Auslandsgeschaeft.webp'); background-size: cover; background-position: center; min-height: 250px; display: flex; align-items: center; justify-content: flex-start; text-align: left; margin-bottom: 2rem;">
                        <div class="blocker-text-wrapper">
                            <h2 class="blocker-text" style="font-size: 2.5rem; font-weight: bold;">Strukturierte Finanzierungen - Auslandsgeschäft</h2>
                            <p class="blocker-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <ul class="courses-listing courses-list">
                        <li class="courses-listing-item">
                            <article class="course" role="region" aria-label="Auslandsgeschäft">
                                <header class="course-image">
                                    <div class="cover-image">
                                        <img src="https://dz-bank.s3.eu-central-1.amazonaws.com/Bild_VR+I_Erklaerfilm_Start.jpg" alt="Auslandsgeschäft dz9"/>
                                    </div>
                                </header>
                                <span class="course-title">VR International</span>
                            </article>
                        </li>
                    </ul>
                </div>

                <div id="filter-bar" class="filters hide-phone is-collapsed is-animated">
                    <div class="filters-inner">
                        <ul class="active-filters facet-list"></ul>
                        <button id="clear-all-filters"
                            class="clear-filters flt-right discovery-button">Zurücksetzen</button>
                    </div>

                </div>

                <aside aria-label="Suche filtern" class="search-facets phone-menu">
                    <h2 class="header-search-facets">Suche filtern</h2>
                    <section class="search-facets-lists">
                        <h3 class="header-facet">
                            modes
                        </h3>
                        <ul data-facet="modes" class="facet-list collapse">

                            <li>
                                <button data-facet="modes" data-value="honor" data-text="honor"
                                    class="facet-option discovery-button ">
                                    honor
                                    <span class="count">
                                        <span class="count-number">5</span>
                                    </span>
                                </button>
                            </li>


                        </ul>



                        <h3 class="header-facet">
                            org
                        </h3>
                        <ul data-facet="org" class="facet-list collapse">

                            <li>
                                <button data-facet="org" data-value="dz-bank" data-text="dz-bank"
                                    class="facet-option discovery-button ">
                                    dz-bank
                                    <span class="count">
                                        <span class="count-number">5</span>
                                    </span>
                                </button>
                            </li>


                        </ul>



                        <h3 class="header-facet">
                            language
                        </h3>
                        <ul data-facet="language" class="facet-list collapse">

                            <li>
                                <button data-facet="language" data-value="de" data-text="de"
                                    class="facet-option discovery-button ">
                                    de
                                    <span class="count">
                                        <span class="count-number">5</span>
                                    </span>
                                </button>
                            </li>


                        </ul>


                    </section>
                </aside>
            </section>
        </section>
    </main>
    {% endraw %}
