<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Terms of Service")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">Bitte beachten Sie unsere Nutzungsbedingungen von {{ PLATFORM_NAME }}, die Sie unter folgendem Link finden: <a href="https://www.dzbank.de/content/dzbank/de/home/footer/rechtliche-hinweise/rechtliche-hinweise.html">Allgemeine Nutzungsbedingungen / Rechtliche Hinweise</a>.</%block>
        </p>
    </section>
</main>