## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>

<%!
import json
import pytz

from django.utils import timezone
from django.utils.translation import gettext as _
from django.utils.translation import ngettext

from lms.djangoapps.courseware.access import has_access
from openedx.core.djangolib.markup import HTML, Text
%>

<%
course_sections = blocks.get('children')
is_course_staff = bool(user and course and has_access(user, 'staff', course, course.id))
%>
<main role="main" class="course-outline" id="main" tabindex="-1">
    % if course_sections is not None:
        <button class="btn btn-outline-primary pull-right"
                id="expand-collapse-outline-all-button"
                aria-expanded="false"
                aria-controls="course-outline-block-tree"
                >
          <span class="expand-collapse-outline-all-extra-padding" id="expand-collapse-outline-all-span">${_("Expand All")}</span>
        </button>
        <ol class="block-tree accordion"
            id="course-outline-block-tree"
            aria-labelledby="expand-collapse-outline-all-button">
        % for section in course_sections:
            <%
            section_is_auto_opened = section.get('resume_block') is True
            scored = 'scored' if section.get('scored', False) else ''
            %>
                <li class="outline-item section ${scored}">
                    <button class="section-name accordion-trigger outline-button"
                            aria-expanded="${ 'true' if section_is_auto_opened else 'false' }"
                            aria-controls="${ section['id'] }_contents"
                            id="${ section['id'] }">
                        <span class="fa fa-plus ${ 'fa-minus' if section_is_auto_opened else '' }" aria-hidden="true"></span>
                        <h3 class="section-title">${ section['display_name'] }</h3>
            % if section.get('complete'):
                            <span class="complete-checkmark fa fa-check" aria-hidden="true"></span>
                            <span class="sr">${_("Completed")}</span>
            % endif
                    </button>
                    <ol class="outline-item accordion-panel ${ '' if section_is_auto_opened else 'is-hidden' }"
                        id="${ section['id'] }_contents"
                        aria-labelledby="${ section['id'] }">
            % for subsection in section.get('children', []):
                <%
                gated_subsection = subsection['id'] in gated_content
                needs_prereqs = not gated_content[subsection['id']]['completed_prereqs'] if gated_subsection else False
                scored = 'scored' if subsection.get('scored', False) else ''
                graded = 'graded' if subsection.get('graded') else ''
                num_graded_problems = subsection.get('num_graded_problems', 0)
                %>
                        <li class="subsection accordion ${ 'current' if subsection.get('resume_block') else '' } ${graded} ${scored}">
                            <a
                            % if enable_links:
                                href="${ subsection['lms_web_url'] }"
                            % else:
                                aria-disabled="true"
                            % endif
                                class="subsection-text outline-button"
                                id="${ subsection['id'] }"
                            >
                            % if graded and scored and 'special_exam_info' not in subsection:
                                      <span class="icon fa fa-pencil-square-o" aria-hidden="true"></span>
                            % endif
                                      <h4 class="subsection-title">
                                          ${ subsection['display_name'] }
                            % if num_graded_problems:
                                          ${ngettext("({number} Question)",
                                                     "({number} Questions)",
                                                     num_graded_problems).format(number=num_graded_problems)}
                            % endif
                                      </h4>
                            % if subsection.get('complete'):
                                <span class="complete-checkmark fa fa-check" aria-hidden="true"></span>
                                <span class="sr">${_("Completed")}</span>
                            % endif
                            % if needs_prereqs:
                                    <div class="details prerequisite">
                                        <span class="prerequisites-icon icon fa fa-lock" aria-hidden="true"></span>
                                        ${ _("Prerequisite: ") }
                                            <%
                                                prerequisite_id = gated_content[subsection['id']]['prerequisite']
                                                prerequisite_name = xblock_display_names.get(prerequisite_id)
                                            %>
                                            ${ prerequisite_name }
                                    </div>
                            % endif
                                        <div class="details">
            
                                        </div>
                            </a>
                        </li>
            % endfor
                    </ol>
                </li>
        % endfor
        </ol>
    % endif
</main>

<%static:webpack entry="CourseOutline">
    new CourseOutline();
</%static:webpack>
