// SansSerif
@font-face {
  font-family: 'Plex';
  src: url('#{$static-path}/fonts/open-sans-v34-latin-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Plex';
  src:
    url('#{$static-path}/fonts/open-sans-v34-latin-300italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Plex';
  src:
    url('#{$static-path}/fonts/open-sans-v34-latin-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Plex';
  src:
    url('#{$static-path}/fonts/open-sans-v34-latin-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Plex';
  src:
    url('#{$static-path}/fonts/open-sans-v34-latin-600.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Plex';
  src:
    url('#{$static-path}/fonts/open-sans-v34-latin-600italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Plex';
  src:
    url('#{$static-path}/fonts/open-sans-v34-latin-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Plex';
  src:
    url('#{$static-path}/fonts/open-sans-v34-latin-700italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
