$primary: rgba(240, 130, 0, 1);

// Theme fonts
$font-family-title: 'Open Sans';
$serif: 'Open Sans';
$f-sans-serif:  'Open Sans', Arial, Crimson,'Helvetica Neue', Helvetica, sans-serif;

// Initialize the Open edX Bootstrap theme
@import 'node_modules/bootstrap/scss/functions';
@import 'edx-bootstrap/sass/open-edx/theme';
